<table id="lbwps-tab-2" class="form-table" style="display:none;">
    <tr>
        <th scope="row">
            {{ 'Skin'|wptrans }}
        </th>
        <td>
            {{ wpcontrolradio(
                'skin',
                [
                    '1',
                    '2',
                    '3',
                    '4'
                ],
                [
                    'Original'|wptrans,
                    'Original with solid background'|wptrans,
                    'New share symbol'|wptrans,
                    'New share symbol with solid background'|wptrans
                ],
                '<br>'
            ) }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            {{ 'Spacing between pictures'|wptrans }}</th>
        <td>
            <select id="lightbox_photoswipe_spacing" name="lightbox_photoswipe_spacing">
                {% for spacing in 0..13 %}
                    <option value="{{ spacing }}"{% if spacing == wpoption('spacing') %} selected{% endif %}>{{ spacing }}%{% if spacing == 12 %} ({{ 'Default'|wptrans }}){% endif %}</option>
                {% endfor %}
            </select>
            <p class="description">{{ 'Space between pictures relative to screenwidth.'|wptrans }}</p>
        </td>
    </tr>
</table>
