<div id="lbwps-tab-7" style="display:none">
    <p class="lbwps_text">{{ 'Plugin version'|wptrans }}: {{ constant('LightboxPhotoSwipe\\LightboxPhotoSwipe::LIGHTBOX_PHOTOSWIPE_VERSION') }}</p>
    <p class="lbwps_text">{{ 'Twig cache enabled'|wptrans }}: {% if twigCache %}{{ 'yes'|wptrans }}{% else %}{{ 'no'|wptrans }}{% endif %}</p>
    <p class="lbwps_text">{{ 'This plugin shows all linked pictures in a lightbox based on an extended version of Photoswipe. If the lightbox does not open, make sure that images are linked to the media and not to the attachment page. Also make sure that no other lightbox is in use (some themes or gallery plugins bring their own lightbox which needs to be disabled). '|wptrans }}</p>
    <p class="lbwps_text">{{ 'For documentation about hooks, styling etc. please see FAQ'|wptrans }}: <a href="https://wordpress.org/plugins/lightbox-photoswipe/#faq" target="_blank">https://wordpress.org/plugins/lightbox-photoswipe/#faq</a>.</p>
    <p class="lbwps_text"><b>{{ 'If you like my WordPress plugins and want to support my work I would be very happy about a donation via PayPal.'|wptrans }}</b></p>
    <p class="lbwps_text"><b><a href="https://paypal.me/ArnoWelzel">https://paypal.me/ArnoWelzel</a></b></p>
    <p class="lbwps_text"><b>{{ 'Thank you :-)'|wptrans }}</b></p>
</div>
