<table id="lbwps-tab-3" class="form-table" style="display:none;">
    <tr>
        <th scope="row">
            {{ 'General'|wptrans }}
        </th>
        <td>
            <label>{{ wpcontrolcheckbox('lightbox_photoswipe_show_caption', optionsManager.show_caption) }} {{ 'Show caption if available'|wptrans }}</label><br>
            <label>{{ wpcontrolcheckbox('lightbox_photoswipe_usepostdata', optionsManager.usepostdata) }} {{ 'Get the image captions from the database (this may cause delays on slower servers)'|wptrans }}</label>
        </td>
    </tr>
    <tr>
        <th scope="row">
            {{ 'Used elements'|wptrans }}
        </th>
        <td>
            <label>{{ wpcontrolcheckbox('lightbox_photoswipe_usetitle', optionsManager.usetitle) }} {{ 'Title'|wptrans }}</label><br>
            <label>{{ wpcontrolcheckbox('lightbox_photoswipe_usecaption', optionsManager.usecaption) }} {{ 'Caption'|wptrans }}</label><br>
            <label>{{ wpcontrolcheckbox('lightbox_photoswipe_usedescription', optionsManager.usedescription) }} {{ 'Description'|wptrans }}</label><br>
            <label>{{ wpcontrolcheckbox('lightbox_photoswipe_use_alt', optionsManager.use_alt) }} {{ 'Alternative text'|wptrans }}</label><br>
            <label>{{ wpcontrolcheckbox('lightbox_photoswipe_showexif', optionsManager.showexif) }} {{ 'EXIF data if available'|wptrans }}{% if not hasExif %} ({{ '<a href="https://www.php.net/manual/en/book.exif.php" target="_blank">the PHP EXIF extension</a> is missing on this server!'|wptrans }}){% endif %}</label><br>
            <label>{{ wpcontrolcheckbox('lightbox_photoswipe_showexif_date', optionsManager.showexif_date) }} {{ 'Show date in EXIF data if available'|wptrans }}</label>
        </td>
    </tr>
</table>
