<table id="lbwps-tab-4" class="form-table" style="display:none;">
    <tr>
        <th scope="row">
            {{ 'Visible sharing options'|wptrans }}
        </th>
        <td>
            <label>{{ wpcontrolcheckbox('share_facebook') }} {{ 'Share on Facebook'|wptrans }}</label><br>
            <label>{{ wpcontrolcheckbox('share_twitter') }} {{ 'Tweet'|wptrans }}</label><br>
            <label>{{ wpcontrolcheckbox('share_direct') }} {{ 'Use URL of images instead of lightbox on Facebook and Twitter'|wptrans }}</label><br>
            <label>{{ wpcontrolcheckbox('share_pinterest') }} {{ 'Pin it'|wptrans }}</label><br>
            <label>{{ wpcontrolcheckbox('share_download') }} {{ 'Download image'|wptrans }}</label><br>
            <label>{{ wpcontrolcheckbox('share_copyurl') }} {{ 'Copy image URL'|wptrans }}</label><br>
            <label>{{ wpcontrolcheckbox('share_custom') }} {{ 'Custom link'|wptrans }}</label>
        </td>
    </tr>
    <tr>
        <th scope="row">
            {{ 'Custom link, label'|wptrans }}
        </th>
        <td>
            {{ wpcontroltext('share_custom_label', 'Your label here'|wptrans) }}
        </td>
    </tr>
    <tr>
        <th scope="row">
            {{ 'Custom link, URL'|wptrans }}
        </th>
        <td>
            {{ wpcontroltext('share_custom_link', '{{raw_image_url}}') }}
            <p class="description">{{ 'Placeholders for the link:<br />{{raw_url}}&nbsp;&ndash;&nbsp;URL of the lightbox<br />{{url}}&nbsp;&ndash;&nbsp;encoded URL of the lightbox<br />{{raw_image_url}}&nbsp;&ndash;&nbsp;URL of the image<br />{{image_url}}&nbsp;&ndash;&nbsp;encoded URL of the image<br />{{text}}&nbsp;&ndash;&nbsp;image caption.'|wptrans }}</p>
        </td>
    </tr>
</table>
