<table id="lbwps-tab-6" class="form-table" style="display:none;">
    <tr>
        <th scope="row">
            {{ 'General'|wptrans }}
        </th>
        <td>
            <label>{{ wpcontrolcheckbox('lightbox_photoswipe_close_on_drag', optionsManager.close_on_drag) }} {{ 'Close with vertical drag in mobile view'|wptrans }}</label><br>
            <label>{{ wpcontrolcheckbox('lightbox_photoswipe_pinchtoclose', optionsManager.pinchtoclose) }} {{ 'Enable pinch to close gesture on mobile devices'|wptrans }}</label><br>
            <label>{{ wpcontrolcheckbox('lightbox_photoswipe_taptotoggle', optionsManager.taptotoggle) }} {{ 'Enable tap to toggle controls on mobile devices'|wptrans }}</label><br>
        </td>
    </tr>
</table>
