<style>
    .lbwps_text {
        font-size:14px;
    }
    .lbwps_text:first-child {
        padding-top:15px;
    }
</style>
<div class="wrap"><h1>{{ 'Lightbox with PhotoSwipe'|wptrans }}</h1>
    <form method="post" action="options.php">
        {{ wpsettingsfield() }}
        {{ include('options-navigation.html.twig') }}
        {{ include('options-tab1.html.twig') }}
        {{ include('options-tab2.html.twig') }}
        {{ include('options-tab3.html.twig') }}
        {{ include('options-tab4.html.twig') }}
        {{ include('options-tab5.html.twig') }}
        {{ include('options-tab6.html.twig') }}
        {{ include('options-tab7.html.twig') }}
        {{ wpsubmitbutton() }}
    </form>
</div>
{{ include('options-script.html.twig') }}
