<table id="lbwps-tab-1" class="form-table">
    <tr>
        <th scope="row">
            <label for="lightbox_photoswipe_disabled_post_ids">{{ 'Excluded pages/posts'|wptrans }}</label>
        </th>
        <td>
            {{ wpcontroltext('disabled_post_ids') }}
            <p class="description">{{ 'Enter a comma separated list with the numerical IDs of the pages/posts where the lightbox should not be used. This can also be changed in the page/post itself.'|wptrans }}</p>
            <p><label for="lightbox_photoswipe_metabox">{{ wpcontrolcheckbox('metabox') }}&nbsp;{{ 'Show this setting as checkbox in page/post editor'|wptrans }}</label></p>
        </td>
    </tr>
    <tr>
        <th scope="row">
            <label for="lightbox_photoswipe_disabled_post_types">{{ 'Excluded post types'|wptrans }}</label>
        </th>
        <td>
            {{ wpcontroltext('disabled_post_types') }}
            <p class="description">{{ 'Enter a comma separated list of post types where the lightbox should not be used.'|wptrans }}<br>
            {{ 'Available post types on this site'|wptrans }}: {{ wpgetposttypes() }}</p>
        </td>
    </tr>
    <tr>
        <th scope="row">
            {{ 'Visible elements'|wptrans }}
        </th>
        <td>
            <label>{{ wpcontrolcheckbox('show_counter') }}&nbsp;{{ 'Show picture counter'|wptrans }}</label><br>
            <label>{{ wpcontrolcheckbox('show_fullscreen') }}&nbsp;{{ 'Show fullscreen button'|wptrans }}</label><br>
            <label>{{ wpcontrolcheckbox('show_zoom') }}&nbsp;{{ 'Show zoom button if available'|wptrans }}</label>
        </td>
    </tr>
    <tr>
        <th scope="row">{{ 'Other options'|wptrans }}</th>
        <td>
            <label>{{ wpcontrolcheckbox('history') }}&nbsp;{{ 'Update browser history (going back in the browser will first close the lightbox)'|wptrans }}</label><br>
            <label>{{ wpcontrolcheckbox('loop') }}&nbsp;{{ 'Allow infinite loop'|wptrans }}</label><br>
            <label>{{ wpcontrolcheckbox('separate_galleries') }}&nbsp;{{ 'Show WordPress galleries and Gutenberg gallery blocks in separate lightboxes'|wptrans }}</label><br>
            <label>{{ wpcontrolcheckbox('add_lazyloading') }}&nbsp;{{ 'Add native lazy loading to images'|wptrans }}</label><br>
            <label>{{ wpcontrolcheckbox('use_cache') }}&nbsp;{{ 'Use WordPress cache instead of the database table %slightbox_photoswipe_img (use this option if you use caching plugins like "Redis Object Cache")'|wptrans|format(wpdb.prefix) }}</label><br>
            <label>{{ wpcontrolcheckbox('ignore_external') }}&nbsp;{{ 'Ignore links to images on other sites'|wptrans }}</label><br>
            <label>{{ wpcontrolcheckbox('ignore_hash') }}&nbsp;{{ 'Ignore links to images which contain a hash (#)'|wptrans }}</label><br>
            <label>{{ wpcontrolcheckbox('hide_scrollbars') }}&nbsp;{{ 'Hide scrollbars when opening the lightbox (this may not work with your theme)'|wptrans }}</label><br>
            <label>{{ wpcontrolcheckbox('fix_links') }}&nbsp;{{ 'Try to fix links to images which include image sizes (e.g. "image-1024x768.jpg" instead of "image.jpg")'|wptrans }}</label><br>
        </td>
    </tr>
    <tr>
        <th scope="row">
            <label for="lightbox_photoswipe_svg_scaling">{{ 'SVG scaling factor'|wptrans }}</label>
        </th>
        <td>
            <select id="lightbox_photoswipe_svg_scaling" name="lightbox_photoswipe_svg_scaling">
                {% for scaling in range(100, 550, 50) %}
                    <option value="{{ scaling }}"{% if scaling == wpoption('svg_scaling') %} selected{% endif %}>
                        {{ scaling }}{% if scaling == 200 %} ({{ 'Default'|wptrans }}){% endif %}
                    </option>
                {% endfor %}
            </select>
            <p class="description">{{ 'Factor by which SVG images get scaled when displayed in the lightbox.'|wptrans }}
            {% if not hasSimpleXML %}<br>{{ '<a href="https://www.php.net/manual/en/ref.simplexml.php" target="_blank">The PHP SimpleXML extension</a> is missing on this server! SVG images can not be displayed!'|wptrans }}{% endif %}</p>
        </td>
    </tr>
    <tr>
        <th scope="row">
            <label for="lightbox_photoswipe_cdn_url">{{ 'CDN URL prefix'|wptrans }}</label>
        </th>
        <td>
            {{ wpcontroltext('cdn_url') }}
            <p class="description">{{ 'If you use the JetPack CDN you can leave this setting empty – JetPack is already supported!'|wptrans }}<br>
            {{ 'If you use a CDN plugin which adds an URL prefix in front of the image link, you can add this prefix (including "http://" or "https://") here. You can enter multiple prefixes separated by comma. The image meta data can then be retrieved from the local file and without loading the image from the CDN. You also need this if you want to use image captions from the WordPress database but serve images using a CDN.'|wptrans }}</p>
        </td>
    </tr>
    <tr>
        <th scope="row">
            <label for="lightbox_photoswipe_cdn_mode">{{ 'CDN mode'|wptrans }}</label>
        </th>
        <td>
            {{ wpcontrolradio('cdn_mode', ['prefix', 'pull'], ['Prefix'|wptrans, 'Pull'|wptrans], ' ') }}
            <p class="description">{{ 'CDNs usually use "prefix mode" which adds the CDN domain in front of the whole URL. Some CDNs like ExactDN use "pull mode" which means only the domain of the website is replaced by the CDN domain. If images don\'t show up with the CDN active try another mode.'|wptrans }}</p>
        </td>
    </tr>
</table>
