<nav class="nav-tab-wrapper" aria-label="{{ 'Secondary menu'|wptrans }}">
    <a href="#" id="lbwps-switch-1" class="nav-tab nav-tab-active" onclick="lbwpsSwitchTab(1);return false;">{{ 'General'|wptrans }}</a>
    <a href="#" id="lbwps-switch-2" class="nav-tab" onclick="lbwpsSwitchTab(2);return false;">{{ 'Theme'|wptrans }}</a>
    <a href="#" id="lbwps-switch-3" class="nav-tab" onclick="lbwpsSwitchTab(3);return false;">{{ 'Captions'|wptrans }}</a>
    <a href="#" id="lbwps-switch-4" class="nav-tab" onclick="lbwpsSwitchTab(4);return false;">{{ 'Sharing'|wptrans }}</a>
    <a href="#" id="lbwps-switch-5" class="nav-tab" onclick="lbwpsSwitchTab(5);return false;">{{ 'Desktop'|wptrans }}</a>
    <a href="#" id="lbwps-switch-6" class="nav-tab" onclick="lbwpsSwitchTab(6);return false;">{{ 'Mobile'|wptrans }}</a>
    <a href="#" id="lbwps-switch-7" class="nav-tab" onclick="lbwpsSwitchTab(7);return false;">{{ 'Info'|wptrans }}</a>
</nav>
